@model IEnumerable<ManagerPro.Models.WebList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th> @Html.ActionLink("录入网站", "Create")</th>
        <th> @Html.ActionLink("录入账号", "Index", "AccountCreate")</th>

    </tr>
</table>
@*<p>
    @Html.ActionLink("录入网站", "Create")
</p>
<p>
    @Html.ActionLink("录入账号","Index","AccountCreate")
</p>
<p>
    @Html.ActionLink("录入网站URL","CreateUrl","AccountCreate")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Html.DisplayFor(modelItem=>item.WebsiteUrl)" target="_blank">@Html.DisplayFor(modelItem => item.Website)</a>
            @*@Html.DisplayFor(modelItem => item.Website) | @Html.DisplayFor(modelItem=>item.WebsiteUrl)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("详细信息", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除账号信息", "Delete", new { id=item.ID }) |
            @Html.ActionLink("删除网站列表","DeleteWebsite",new { id = item.ID })
        </td>
    </tr>
}

</table>
