
@model ManagerPro.ViewModel.UserDetails

@{

        ViewBag.Title = "Login";
    }



    <html>

    <body>
        <h2>用户登录</h2>

        @using (Html.BeginForm("DoLogin","VhostAccount",FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>UserDetails</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.PassWord, new{ htmlAttributes = new { @class="form-control"} })
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="登录" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </body>
    </html>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


@*@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Login</title>

</head>

<body>

    <hr />
    <div>

        @using (Html.BeginForm("DoLogin", "VhostAccount", FormMethod.Post))

        {

            @Html.LabelFor(c => c.UserName)

            @Html.TextBoxFor(x => x.UserName)
            @Html.ValidationMessageFor(x => x.UserName)


            <br />
            @Html.LabelFor(c=>c.PassWord)
            @Html.PasswordFor(x => x.PassWord)
            @Html.ValidationMessageFor(x => x.PassWord)
            <br />


            <input type="submit" name="BtnSubmit" value="Login" />

        }

    </div>

</body>

</html>*@